#intellij class build result
/out/

# IntelliJ IDEA
/.idea/
/KDT_class_backend/**/.idea/
/*.iml
/target/
/*.class
# visual code ide setting
/.vscode/

# Eclipse
/KDT_class_backend_eclipse/.metadata/
/KDT_class_backend_eclipse/Servers/
/KDT_class_backend_eclipse/.project

# OS별 파일 무시
.DS_Store
Thumbs.db

# 환경 변수 파일 무시
.env

# 로그 파일 무시
*.log

# iml 파일 무시
*.iml

KDT_class_backend/**/target/
!KDT_class_backend/**/.mvn/wrapper/maven-wrapper.jar
!KDT_class_backend/**/**/src/main/**/target/
!KDT_class_backend/**/**/src/test/**/target/

### NetBeans ###
KDT_class_backend/**/nbproject/private/
KDT_class_backend/**/nbbuild/
KDT_class_backend/**/dist/
KDT_class_backend/**/nbdist/
KDT_class_backend/**/.nb-gradle/
KDT_class_backend/**/build/
!KDT_class_backend/**/**/src/main/**/build/
!KDT_class_backend/**/**/src/test/**/build/

### VS Code ###
KDT_class_backend/**/.vscode/