#intellij class build result
/out/

# IntelliJ IDEA
/.idea/
/*.iml
/target/
/*.class
# visual code ide setting
/.vscode/

# OS별 파일 무시
.DS_Store
Thumbs.db

# 환경 변수 파일 무시
.env

# 로그 파일 무시
*.log

# iml 파일 무시
*.iml