* {
    box-sizing: border-box;
}

.container {
    width: 250px;
}

.text .col {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: 120px;
}

.input .col {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}