.container {
    margin: auto;
    width: 700px;
    height: 500px;

    display:flex;
    flex-direction: row;

    border: 1px solid black;
}

.sideBar {
    flex: 2;
    border: 1px solid black;
}

.sideBar div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    height: 100%;
}

.sideBar div button {
    width: 100px;
    height: 50px;
}

.content {
    flex: 8;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    border: 1px solid black;
}

.home {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    border: 0;

    display: flex;
    justify-content: center;
    align-items: end;
    flex: 1;
}

.statistics {
    border: 0;

    flex: 1;
}